<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <!-- Replace the following text and rewrite it using <%= %> -->
        <%= "This page shows the details of a post with id: #{@id}" %>
      </p>
      <p>
        <!-- Display the @post's content -->
        <%= @post.content %>
      </p>
      <!-- Paste the HTML here -->
      <div class="post-time">
        <!-- Display the @post's created_at -->
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("Edit", "/posts/#{@post.id}/edit", {class: 'button-crud'}) %>
        <%= button_to("Delete", "/posts/#{@post.id}/destroy", {method: "post", class: 'button-crud'}) %>
      </div>
    </div>
  </div>
</div>